body {
	font-family: 'Share Tech Mono', monospace;
}

h2, p {
	font-family: 'Roboto Mono', monospace;
}

h2 {
	font-size: 60px;
	font-weight: 700;
}

#avatar {	
	border-radius: 100%;
	width: 180px;
	display: block;
	margin: 50px auto 0 auto;
}

.left-panel {
	text-align: left;
	margin-top: 80px;
}

.left-panel p {
	font-size: 18px;
	text-align: left;
}

.right-panel {
	text-align: center;
}

.right-panel i {
	padding: 15px 5px 0 5px;
}