body {
	font-family: 'Share Tech Mono', monospace;
	background-color: #fafafa;
}

h2, p {
	font-family: 'Roboto Mono', monospace;
}

h2 {
	font-size: 60px;
	font-weight: 700;
}

#avatar {	
	border-radius: 100%;
	width: 180px;
	display: block;
	margin: 50px auto 0 auto;
}

.left-panel {
	text-align: left;
	margin-top: 80px;
}

p {
	font-size: 18px;
}

.right-panel {
	text-align: center;
}

.right-panel i {
	padding: 15px 5px 0 5px;
}

.about-container {
	max-width: 900px;
	text-align: justify;
}

hr {
	width: 800px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}